body {
    width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
}

h1 {
    width: 347px;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    color: #000000;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 46px;

}

header {
    margin-bottom: 71px;
}

.header-menu {
    width: 1300px;
    margin: 0 auto;
}

.header-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-menu li {
    width: 125px;
}

.header-menu a {
    text-decoration: none;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.promo {
    position: relative;
    width: 1440px;
    margin-bottom: 20px;

}

.promo img {
    width: 1440px;
    height: 464px;
}

.promo-wrapper {
    position: absolute;
    top: 100px;
    left: 360px;
    z-index: 10;
    width: 760px;
}

.promo h2 {
    width: 752px;
    margin: 0 auto;
    margin-bottom: 135px;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.icon-mountain::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 355px;
    z-index: 10;
    background-image: url(icon-mountain.svg);
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
}

.promo-wrapper p {
    width: 456px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;

    color: #FFFFFF;
}

.reviews {
    width: 1440px;
    margin-bottom: 100px;
}

.reviews img {
    margin-bottom: 20px;
}

.reviews h3 {
    width: 83px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;

    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;

    color: #000000;
}

.reviews ul {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.title-active {
    color: orange;
}

.reviews h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    width: 370px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.reviews p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    width: 370px;
    margin: 0;
    padding: 0;
}

.offers {
    width: 1440px;
    background-color: #F7F7F7;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    position: relative;
    z-index: -9;
}

.offers::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 380px;
    z-index: -10;
    width: 707px;
    height: 707px;
    border-radius: 50%;
    background-color: white;
}

.item-decor {
    position: relative;
}

.item-decor::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 130px;
    z-index: ;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.item-decor::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 130px;
    z-index: ;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.offers div {
    width: 500px;
    margin: 0 auto;
    z-index: 10;
}

.offers h3 {
    width: 224px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000000;
    margin: 0 auto;
    margin-bottom: 35px;
}

.offers ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.offers li {
    width: 368px;
    margin: 0 auto;
    margin-bottom: 46px;
}

.offers .offers-item {
    margin-bottom: 40px;
}

.offers b {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    margin: 0;
    display: block;

}

.offers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin: 0;
    color: #000000;
}

.offers a {
    width: 72px;
    color: white;
    background-color: #FF7931;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    width: 1440px;
    min-height: 295px;
    background: #575757;
}

.footer h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-top: 25px;
    text-align: center;
}

.footer-menu {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}

.footer-menu::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 70px;
    z-index: 10;
    width: 1170px;
    height: 1px;
    background-color: white;
}

.footer-menu ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;

    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer-menu li {
    width: 125px;
}

.footer-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.footer-social-wrap {
    width: 1440px;

}

.footer-social {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.footer-social li {
    width: 47px;
    height: 47px;
    background-color: #fff;
}

.inst,
.facebook,
.twitter {
    position: relative;

}

.inst::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    z-index: 10;
    background-image: url(icons_2.svg);
    width: 23px;
    height: 24px;
    background-repeat: no-repeat;
}

.facebook::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    z-index: 10;
    background-image: url(facebook_icon.svg);
    width: 23px;
    height: 24px;
    background-repeat: no-repeat;
}

.twitter::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 10;
    background-image: url(twitter_icon.svg);
    width: 23px;
    height: 24px;
    background-repeat: no-repeat;
}